:root{

    /* Fonts */
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #FF6C00;

    /* Dark Mode */
    --primary-txt--dark-mode: #9DA4BD;
    --secondary-txt--dark-mode: #FFFFFF;
    --additional-txt-dark-mode: rgba(157, 164, 189, 0.6);
    --primary-bgd--dark-mode: #191C26;

    /* Light Mode */
    --primary-txt--light-mode: #555555;
    --secondary-txt--light-mode: #303030;
    --primary-bgd--light-mode: #FFFFFF;
    --secondary-bgd--light-mode: #F7F7F7;
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.02em;
    color: --primary-txt--light-mode;
}

/* Reset CSS */

h1, h2, h3, h4, h5, p {
    margin: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
    cursor: pointer;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn {
    width: 100%;
    max-width: 160px;
    min-width: 100px;
    min-height: 40px;
    padding: 12px 12px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    border: 1px solid var(--accent-color);
    border-radius: 25px;
    cursor: pointer;
}

.dark-mode-btn { 
    color: var(--secondary-txt--dark-mode);
    background-color: var(--secondary-txt--light-mode);
}

.light-mode-btn {
    color: var(--secondary-txt--light-mode);
    background-color: var(--primary-bgd--light-mode);
}

.btn:hover,
.btn:focus {
    color: var(--primary-bgd--light-mode);
    background: var(--accent-color);
    border: transparent;
}

.header,
.hero {
background-color: #191C26;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* NAVIGATION */

.nav {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: var(--secondary-txt--dark-mode);
}

.nav-contacts {
    text-transform: uppercase;
    color: var(--secondary-txt--dark-mode);
}

/* HERO */

.hero-left-side {
    width: 525px;
}

.line-dark {
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: var(--secondary-txt--light-mode);
}

.line-light {
    display: inline-block;
    height: 1px;
    width: 63px;
    background-color: var(--additional-txt-dark-mode);
}

.social-nets {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--secondary-txt--light-mode);
}

.pretitle {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.pretitle-dark-mode {
    color: var(--secondary-txt--light-mode);
}

.title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.hero-title {
    font-size: 72px;
    line-height: 1.18;
    color: var(--secondary-txt--dark-mode);
}

.txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
}

.hero-txt {
    color: var(--primary-txt--dark-mode);
}

.hero-btn-back {
    color: rgba(157, 164, 189, 0.6);
    text-transform: none;
}

.hero-btn-forward {
    color: var(--title-txt-light);
    text-transform: none;
}

/* ABOUT */

.about-right-side {
    max-width: 500px;
    outline: solid 1px red;
}

.pretitle-light-mode {
    color: var(--additional-txt-dark-mode);
}

.title-light-mode {
    margin-bottom: 20px;
    color: var(--secondary-txt--light-mode);
}

.about-txt {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: var(--primary-txt--light-mode);
}

.about-desc {
    margin-bottom: 39px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--primary-txt--light-mode);
}

/* PRICES */

.prices {
    background-color: #303030;
}

.title-dark-mode {
    margin-bottom: 44px;
    color: var(--secondary-txt--dark-mode);
}

.prices-list {
    margin-bottom: 50px;
    color: var(--primary-txt--dark-mode);
}

.price-inner-list {
    width: 50%;
}

/* ADVANTAGES */

.advantages-number {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
    color: var(--secondary-txt--light-mode);
}

.advantages-decor {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    color: var(--accent-color);
}

.advantages-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--secondary-txt--light-mode);
}

.advantages-right-side {
    max-width: 500px;
    outline: 1px solid red;
}

.advantages-pretitle {
    color: var(--secondary-txt--light-mode);
}

.advantages-descr {
    font-size: 18px;
    line-height: 1.66;
    color: var(--primary-txt--light-mode);
}

/* TEAM */

.team {
    background-color: var(--secondary-bgd--light-mode);
}

.team-pretitle {
    color: var(--secondary-txt--light-mode);
}

.team-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.02em;
    color: var(--secondary-txt--light-mode);
}

.team-profession {
    line-height: 1.36;
     color: #FF6C00;
}

/* GALLERY */

.gallery-pretitle {
margin-bottom: 44px;
}

/* CONTACTS */

.contacts {
    background-color: var(--primary-bgd--dark-mode);
}

.contacts-title {
    color: var(--secondary-txt--dark-mode);
}

.contacts-btn {
    color: var(--secondary-txt--dark-mode);
    background-color: transparent;
}

.contacts-address {
    font-size: 18px;
    line-height: 1.66;
    color: var(--primary-txt--dark-mode);
}

.contacts-schedule {
color: var(--secondary-txt--dark-mode);
}

/* FOOTER */

.footer-copywrite {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--primary-txt--dark-mode);
}